<div class="mobile-menu js-menu-container" id="mobile-menu">
    <button class="mobile-menu-close-btn js-close-menu" type="button">
        <svg class="close-mobile-menu-icon" width=40 height=40 aria-label="Modal window close icon">
            <use href="./img/icons.svg#icon-close"></use>
        </svg>
    </button>
    <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
            <li class="mobile-menu-nav-item"><a href="#about_us" class="mobile-menu-nav-link link">About us</a></li>
            <li class="mobile-menu-nav-item"><a href="#our_lessons" class="mobile-menu-nav-link link">Our lessons</a></li>
            <li class="mobile-menu-nav-item"><a href="#teachers" class="mobile-menu-nav-link link">Teachers</a></li>
            <li class="mobile-menu-nav-item"><a href="#reviews" class="mobile-menu-nav-link link">Reviews</a></li>
            <li class="mobile-menu-nav-item"><a href="#contact_us" class="mobile-menu-nav-link link">Contact us</a></li>
        </ul>
    </nav>
    <div class="mobile-menu-socials-wrap">
        <ul class="mobile-menu-social-list">
            <li class="mobile-menu-social-item">
                <a class="mobile-menu-social-link" href="">
                    <svg class="mobile-menu-social-icon" width=28 height=28 aria-label="Facebook icon">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-menu-social-item">
                <a class="mobile-menu-social-link" href="">
                    <svg class="mobile-menu-social-icon" width=28 height=28 aria-label="Instagram icon">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-menu-social-item">
                <a class="mobile-menu-social-link" href="">
                    <svg class="mobile-menu-social-icon" width=28 height=28 aria-label="Youtube icon">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>